
@media screen and (min-width:1000px){
.resources {
    min-height :105.5vh;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(29, 25, 42);
    position:relative;
    max-width: 120rem;
    
    
}
.box{
    max-width: 100%;
    gap: 2;
    max-width:170vh;
    display: flex;
    flex-direction: row;
    
}

.club{
    position:absolute;
    text-align:center;
    bottom:70vh;
    left:95vh;
    min-height: 16vh;
    font-size:5vh;
    font-weight:bold;
  }  
p {
  font-size: 2vh;
  position:relative;
  
}
li {
    position:relative;
    display: block;
    border-color: black;
    background-color:rgb(250, 249, 255);
    gap:0.2rem;
    border-radius:2vh;
    max-height:140vh;
    top:6vh;
    justify-content:space-between;
    


}
  
  .panels{
    list-style-type: none;
    padding: 0;
    bottom:9vh;
    position: relative;
    display:flex;
    box-sizing: border-box;
    border-radius: 0.5rem;
    gap:2vh;
    left:15vh;
    max-width:180vh;
    justify-content: space-evenly;
    
   
  }

  .panels li{
    position: relative;
    width: 25%;
    display: flex;
    box-sizing: border-box;
    float: left;
    
  }
  
  .panels li div{
    max-width: 100%;
   padding: 60% 0;
    text-align: center;
    color:black;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: pointer;
  }
.box div.back{
    transform:rotateY(90deg);
}
.box div.front{
    position:absolute;
}
.box li:hover div.front{
    animation: twirl 0.2s ease-out forwards;
}
.box li:hover div.back{
    animation: twirl 0.2s 0.2s ease-out forwards reverse;
}
  
  @keyframes twirl{
      0% {transform : rotateY(0deg)}
      100% {transform: rotateY(90deg)}
  }
  l1 {
      padding-bottom: 100vh;
  }

.organizer{
  top:75vh;
  right:80vh;
  font-size:5vh;
  position: absolute;
  font-weight:bold;
}

.back{

 position: inherit;
 bottom:3vh;

}
.front{
  gap:120rem;
  position: relative;
  bottom:0.0491rem;
  
}



}
